services:
  work_redis:
    image: redis:latest
    container_name: work_redis
    restart: always
    volumes:
      - ./data:/data  # 持久化数据
      - ./conf/redis.conf:/usr/local/etc/redis/redis.conf  # 挂载配置文件
      - ./log/redis.log:/redis.log # 挂载日志文件
    ports:
      - "6379:6379"
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]  # 使用配置文件启动
    networks:
      - redis-network

networks:
  redis-network:
    driver: bridge
