[mysqld]
# 设置 MySQL 服务的端口号
port=3306

# 允许最大连接数
max_connections=1000

# 允许连接失败的次数，用于防止暴力破解
max_connect_errors=100

# 服务端使用的默认字符集为 UTF8MB4
character-set-server=utf8mb4

# 创建新表时将使用的默认存储引擎
default-storage-engine=INNODB

# 是否对 SQL 语句大小写敏感，1 表示不敏感
lower_case_table_names=1

# MySQL 连接闲置超过一定时间（单位：秒）后将会被强行关闭
interactive_timeout=1800
wait_timeout=1800

# Metadata Lock 最大时长（秒）
lock_wait_timeout=3600

# 内存临时表的最大值，超过该值将写入磁盘
tmp_table_size=64M
max_heap_table_size=64M

[mysql]
# 设置 MySQL 客户端默认字符集
default-character-set=utf8mb4

[client]
# 设置 MySQL 客户端连接服务端时默认使用的端口
port=3306
default-character-set=utf8mb4
